# cargo make build
[tasks.build]
command = "wasm-pack"
args = ["build", "--target", "web", "--out-dir", "pkg"]

[tasks.build-node]
command = "wasm-pack"
args = ["build", "--target", "nodejs", "--out-dir", "node"]
